<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Games</h1>
      <table class="table border">
        <thead>
          <tr>
            <th>タイトル</th>
            <th>ジャンル</th>
            <th>詳細</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <% @games.each do |game| %>
        <tbody>
          <tr>
            <td><%= game.title %></td>
            <td><%= game.genre %></td>
            <td><%= game.detail %></td>
            <td><%= link_to "Show", game_path(game) %></td>
            <td><%= link_to "Edit", edit_game_path(game) %></td>
            <td><%= link_to "Destroy", game_path(game), method: :delete %></td>
          </tr>
        </tbody>
        <% end %>
      </table>

      <h1>投稿する</h1>
      <%= form_with model:@game, local: true do |f| %>
        <p>タイトル</p>
        <%= f.text_field :title %>
        <p>ジャンル</p>
        <%= f.text_field :genre %>
        <p>詳細</p>
        <%= f.text_area :detail %>
        <div>
          <%= f.submit "投稿" %>
        </div>
      <% end %>
    </div>
  </div>
</div>